{{ include('@KaliticsGed/_includes/_update_modal.html.twig') }}

<link href="{{ asset('bundles/kaliticsged/css/print.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('bundles/kaliticsged/css/jquery.fancybox.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('bundles/kaliticsged/css/ged.css') }}" rel="stylesheet" type="text/css">

<div class="row bh-ged-display" data-id="{{ ged.id }}">
    <div id="ged_{{ ged.id }}_form" class="col-sm-12 col-md-12 col-lg-5">
        {{ render(controller('kalitics_ged.controller.ged_controller::displayFormAction', {'id': ged.id})) }}
    </div>
    <div id="ged_{{ ged.id }}_list_files" class="col-sm-12 col-md-12 col-lg-7" data-url="{{ path('kalitics_ged_display_files', {'id' : ged.id}) }}">
        {{ render(controller('kalitics_ged.controller.ged_controller::displayFileListAction', {'id': ged.id})) }}
    </div>
</div>

<script src="{{ asset('bundles/kaliticsged/js/print.min.js') }}"></script>
<script src="{{ asset('bundles/kaliticsged/js/jquery.fancybox.min.js') }}"></script>
<script src="{{ asset('bundles/kaliticsged/js/initFancyBox.js') }}"></script>
<script>
    function changeDisplayMode(checkbox){
        let $checkbox = $(checkbox);

        let isGalleryMode = $checkbox.is(':checked');
        let path = "{{ path('kalitics_ged_display_mode', {'id': 'ID','isGalleryMode': 'GALLERY'}) }}".replace('GALLERY', isGalleryMode);
        path = path.replace('ID', "{{ ged.id }}");

        $checkbox.attr("disabled", true);

        $.ajax({
            url: path,
            method: 'GET',
            success: function (html) {
                $("#ged_{{ ged.id }}_list_files").html(html)
            },
            error: function (err) {
                console.error(err)
            },
            complete: function () {
                $("#get_documents_list-{{ ged.id }}").DataTable();
                $("#get_documents_list-{{ ged.id }}_filter input[type=search]").css('display','block');
                initFancyBox();
                $checkbox.removeAttr("disabled");
            }
        });
    }

</script>
