.kt-svg-icon-dropzone{
    height: 55px;
    width: 55px;
}

.fancy_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit,43px);
    grid-auto-rows: 38px;
    column-gap: 10px;
    row-gap: 15px;
    width: 100%;
}

.thumbnail {
    object-fit: cover;
    object-position: center top;
    width: 100%;
    height: 100%;
}

.grid-item{
    position:relative;
    border: 1px solid #dfe1e5;
    border-radius: 3px;
    box-shadow: none;
    grid-row: span 3;
    grid-column: span 3;
}

.checkbox-container{
    position: absolute;
    width: 100%;
}

.checkbox-container input[type='checkbox']{
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.grid-item:hover input[type='checkbox'], input[type='checkbox']:checked{
    opacity: 1;
}
.img_container{
    display: flex;
    height: calc(100% - 30px);
    align-items: center;
}


.img_container[data-darkmode='1']{
    background-color: #ffffff;
}

.img_container[data-darkmode='']{
    background-color: #4D4C5D;
}

.link-fancy{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.option-handler{
    height: 30px;
    display: flex;
    padding: 0 5px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dfe1e5;
    background-color: #ffffff;
}

.grid-item-option{
    border: none;
    background: none;
}

.grid-item-option[data-darkmode='1'] {
    color: white;
}

.grid-item-option[data-darkmode=''] {
    color: black;
}

.option-handler i{
    color: black;
}