
{% if file is defined %}

    {% if file.extension == 'pdf' %}
        <i class="la la-file-pdf-o"></i>
    {% elseif file.extension == 'jpg' or file.extension == 'png' or file.extension == 'jpeg' %}
        <i class="la la-file-image-o"></i>
    {% else %}
        <i class="la la-file"></i>
    {% endif %}

{% else %}
{% endif %}
