<div id="update_document_form_container">
    {{ form_start(form) }}
        <div class="modal-header">
            <h5>Modifier le fichier</h5>
        </div>
        <div class="modal-body">
            {{ form_widget(form) }}
        </div>
        <div class="modal-footer">
            <a class="btn btn-label-danger pull-right m-l-5" data-dismiss="modal" id="closeModal">Fermer</a>
            <button type="submit" class="btn btn-label-success pull-right m-l-5">Valider</button>
        </div>
    {{ form_end(form) }}
</div>

<script>

    jQuery(document).ready(function() {

        $('#gedbundle_document_type').change(function() {
            if ($('#gedbundle_document_subtype option[data-type='+ $(this).val() +']').length) {
                $('#gedbundle_document_subtype').closest('.form-group.row').show();
            } else {
                $('#gedbundle_document_subtype').closest('.form-group.row').hide();
                $('#gedbundle_document_subtype').val('');
            }

        }).trigger('change');

        $("#update_document_form_container form").on("submit", function (){
            sendFormUpdateDocument({{ ged.id }})
            return false
        });

        $('.modal-body select').attr('style', 'width:100%;');
        $('.modal-body select').select2();
        $('.modal-body .datepicker').attr('placeholder', '15/02/2025');
        $('.modal-body .datepicker').attr('style', 'width:100%;');
    });

</script>
