{#<div class="row">#}
{#    {% for document in ged.documents  %}#}
{#        <div style="position: relative;border: 1px solid red">#}
{#            <span style="position: absolute;">#}
{#                <input type="checkbox" id="docChecked" onclick="onSelectDocument({{ document.id }})">#}
{#            </span>#}

{#            <a class="img-fancy" href="{{ document | urlImage }}"  {{ (document | isDocumentAnImage) ? 'data-fancybox="images"' : '' }}>#}
{#                <img src="{{ document | urlImage }}" class="thumbnail" alt="{{ document.name }}">#}
{#            </a>#}
{#        </div>#}
{#    {% endfor %}#}
{#</div>#}
<div class="fancy_wrapper">
    {% for d in ged.documents  %}
        {% set attrs = (d | isImg) ? 'data-fancybox=images' : ''%}
        <div class="grid-item grid-item-{{ d.id }}"
             data-darkMode="{{ app.user.darkMode }}"
             id="tr_document_{{ d.id }}"
             data-remove="{{ path('kalitics_ged_document_remove', {'id' : d.id}) }}"
             data-update="{{ path('kalitics_ged_document_update', {'id' : d.id}) }}">
            <div class="checkbox-container">
                <label></label>
                <input type="checkbox" class="exportFile" data-document="{{ path('kalitics_ged_document_download', {'id' : d.id}) }}" onchange="changeNbExportFile()">
            </div>
            <div class="img_container">
                <a class="link-fancy {{ d | isPdf ? 'pdf-fancy' : '' }}" href="{{ path('kalitics_ged_document_show', {'id': d.id}) }}" {{ attrs }}>
                    <img src="{{ path('kalitics_ged_document_show', {'id': d.id, 'thumbnail': true}) }}"
                         class="thumbnail"
                         alt="{{ d.name }}">
                </a>
            </div>
            <div class="option-handler">
                <div>
                    {{ d | docIcon | raw }}
                </div>
                <div class="dropdown dropdown-inline">
                    <button type="button" class="grid-item-option" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-darkMode="{{ app.user.darkMode }}">
                        <i class="flaticon-more"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-fit dropdown-menu-md">

                        <!--begin::Nav-->
                        <ul class="kt-nav" data-isPdf="{{ d | isPdf }}">
                            <li class="kt-nav__head">
                                Changer la taille
                            </li>
                            <li class="kt-nav__separator"></li>
                            <li class="kt-nav__item">
                                <a class="kt-nav__link" data-size="small" data-doc-id="{{ d.id }}" onclick="resizeTile(this)">
                                    <i class="kt-nav__link-icon flaticon2-expand"></i>
                                    <span class="kt-nav__link-text">Petit</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a class="kt-nav__link" data-size="medium" data-doc-id="{{ d.id }}" onclick="resizeTile(this)">
                                    <i class="kt-nav__link-icon flaticon2-expand"></i>
                                    <span class="kt-nav__link-text">Moyens</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a class="kt-nav__link"  data-size="big" data-doc-id="{{ d.id }}"  onclick="resizeTile(this)">
                                    <i class="kt-nav__link-icon flaticon2-expand"></i>
                                    <span class="kt-nav__link-text">Grand</span>
                                </a>
                            </li>
                            <li class="kt-nav__separator"></li>
                            <li class="kt-nav__foot">
                                <a onClick="updateDocument({{ d.id }}, {{ ged.id }});" class="btn btn-sm btn-clean btn-icon btn-icon-md cursor-pointer" title="Modifier">
                                    <i class="la la-edit"></i>
                                </a>
                                <a href="{{ path('kalitics_ged_document_download', {'id' : d.id}) }}" class="btn btn-sm btn-clean btn-icon btn-icon-md cursor-pointer" title="Télécharger">
                                    <i class="la la-download"></i>
                                </a>
                                <a data-path="{{ path('kalitics_ged_document_download', {'id' : d.id}) }}" data-doctype="{{ d | printType }}" onclick="printDocument(this)" class="btn btn-sm btn-clean btn-icon btn-icon-md cursor-pointer" title="Imprimer">
                                    <i class="la la-print"></i>
                                </a>
                                <a onClick="deleteDocument({{ d.id }}, {{ ged.id }});" class="btn btn-sm btn-clean btn-icon btn-icon-md cursor-pointer" title="Supprimer">
                                    <i class="la la-trash"></i>
                                </a>
                            </li>
                        </ul>

                        <!--end::Nav-->
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
