{% if ged.documents|length == 0 %}
    <div class="row">
        <div class="col-sm-12" style="text-align: center;">
            Il n'y a pas encore de document. Ajouter un document pour visualiser la liste.
            <br/>
            <br/>
            <br/>
            <i class="la la-folder-open" style="font-size: 50px;"></i>
        </div>
    </div>
{% else %}
    <div class="d-flex justify-content-between mb-3">
        <div>
            <a class="btn btn-label-success" onclick="exportFiles()">Exporter <span id="nbFileExport"></span></a>
        </div>
        <div>
            <div class="kt-checkbox-inline">
                <div class="d-flex align-items-center">
                    {% if ged.galleryMode %}
                        <i class="fas fa-th" style="font-size: 18px;margin-bottom: 5px;margin-right: 5px;"></i>
                    {% else %}
                        <i class="fas fa-list" style="font-size: 18px;margin-bottom: 5px;margin-right: 5px;"></i>

                    {% endif %}

                    <label class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                        <input type="checkbox" id="display_mode" name="display_mode" {{ ged.galleryMode ? "checked" : ""}} onchange="changeDisplayMode(this)">
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    {% if not ged.galleryMode %}
        {% include '@KaliticsGed/_includes/_table_files.html.twig' %}
    {% else %}
        {% include '@KaliticsGed/_includes/_gallery_files.html.twig' %}
    {% endif %}

{% endif %}
