<table id="get_documents_list-{{ ged.id }}" class="table table-bordered datatable">
    <thead>
    <tr>
        <th>
        </th>
        <th>Fichier</th>
        <th>Type</th>
        <th>Date de validité</th>
        <th>Poid</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for d in ged.documents %}
        {% set attrs = (d | isImg) ? 'data-fancybox=images' : ''%}
        <tr
                id="tr_document_{{ d.id }}"
                data-remove="{{ path('kalitics_ged_document_remove', {'id' : d.id}) }}"
                data-update="{{ path('kalitics_ged_document_update', {'id' : d.id}) }}"
        >
            <td>
                <label class="kt-checkbox kt-checkbox--primary" style="margin-bottom: 10px !important;">
                    <input type="checkbox"
                           class="exportFile"
                           data-document="{{ path('kalitics_ged_document_download', {'id' : d.id}) }}"
                           onchange="changeNbExportFile()">
                    <span></span>
                </label>
            </td>
            <td>
                {% include '@KaliticsGed/_includes/_file_icn.html.twig' with {'file' : d} %}
                {{ d.name }}.{{ d.extension }}
            </td>
            <td>
                {% if d.type is not null %}
                    {{ d.type.name }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if d.validity is not null %}
                    {{ d.validity|date('d/m/Y') }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {{ d.dispWeight }}
            </td>
            <td style="width: 150px;">
                <a href="{{ path('kalitics_ged_document_show', {'id' : d.id}) }}"
                   class="{{ d | isPdf ? 'pdf-fancy' : '' }} btn btn-sm btn-clean btn-icon btn-icon-md cursor-pointer"
                   title="Voir"
                   {{ attrs }}
                >
                    <i class="la la-eye"></i>
                </a>

                <a href="{{ path('kalitics_ged_document_download', {'id' : d.id}) }}" class="btn btn-sm btn-clean btn-icon btn-icon-md cursor-pointer" title="Télécharger">
                    <i class="la la-download"></i>
                </a>

                <a onClick="updateDocument({{ d.id }}, {{ ged.id }});" class="btn btn-sm btn-clean btn-icon btn-icon-md cursor-pointer" title="Modifier">
                    <i class="la la-edit"></i>
                </a>

                <a onClick="deleteDocument({{ d.id }}, {{ ged.id }});" class="btn btn-sm btn-clean btn-icon btn-icon-md cursor-pointer" title="Supprimer">
                    <i class="la la-trash"></i>
                </a>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
