
<!-- Large Size -->
<div class="modal fade" id="modal_documents" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class='modal-header'><h4 class='modal-title' id='smallModalLabel'>Chargement ...</h4></div><div class='modal-body center'><div class="center p-t-50 p-b-50"><i class="fas fa-spinner fa-spin"></i></div></div>

        </div>
    </div>
</div>
