
<form id="ged_form_{{ ged.id }}" enctype="multipart/form-data" class="bh-ged-form">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">

            <div class="form-group">
                <div class="col-sm-12">
                    <h5>Ajouter un fichier</h5>
                </div>
            </div>

            <div class="form-group bh-ged-name">
                <label class="col-sm-12 control-label" for="file_name">Nom du fichier</label>
                <div class="col-sm-12">
                    <div class="form-line">
                        <input type="text" id="file_name" name="file_name" required="required" class="form-control" placeholder="Nom du fichier">
                    </div>
                </div>
            </div>

            <div class="form-group bh-ged-type">
                <label class="col-sm-12 control-label" for="file_type_{{ ged.id }}">Type de document</label>
                <div class="col-sm-12">
                    <div class="form-line">
                        <select id="file_type_{{ ged.id }}" name="file_type" class="form-control bh-ged-type-select" style="width: 100%;">
                            {% for type in documentsTypes %}
                                <option value="{{ type.id }}">{{ type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>


            <div class="form-group bh-ged-subtype">
                <label class="col-sm-12 control-label" for="file_subtype_{{ ged.id }}">Sous type</label>
                <div class="col-sm-12">
                    <div class="form-line">
                        <select id="file_subtype_{{ ged.id }}" name="file_subtype" class="form-control bh-ged-subtype-select" style="width: 100%;">
                            <option>- Sélectionner un sous type -</option>
                            {% for type in documentsTypes %}
                                {% for subtype in type.documentSubTypes %}
                                    <option data-type="{{ type.id }}" value="{{ subtype.id }}">{{ subtype }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>


            <div class="form-group bh-ged-validity">
                <label class="col-sm-12 control-label" for="file_validity_{{ ged.id }}">Date de validité</label>
                <div class="col-sm-12">
                    <div class="form-line">
                        <input type="date" id="file_validity_{{ ged.id }}" name="file_validity" required="required" class="datepicker form-control" placeholder="Date" style="width: 100%;">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="form-line">

                        <div id="dropzone_ged_{{ ged.id }}" data-id-ged="{{ ged.id }}" class="pull-right dz-clickable btn-block ged-dropzone" data-upload-url="{{ path('kalitics_ged_document_upload', {'id' : ged.id}) }}">
                            <div class="dz-message">
                                <div class="drag-icon-cph">

                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="54px" height="54px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon-dropzone">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon id="Shape" points="0 0 24 0 24 24 0 24"/>
                                            <path d="M5.74714567,13.0425758 C4.09410362,11.9740356 3,10.1147886 3,8 C3,4.6862915 5.6862915,2 9,2 C11.7957591,2 14.1449096,3.91215918 14.8109738,6.5 L17.25,6.5 C19.3210678,6.5 21,8.17893219 21,10.25 C21,12.3210678 19.3210678,14 17.25,14 L8.25,14 C7.28817895,14 6.41093178,13.6378962 5.74714567,13.0425758 Z" id="Combined-Shape" fill="#000000" opacity="0.3"/>
                                            <path d="M11.1288761,15.7336977 L11.1288761,17.6901712 L9.12120481,17.6901712 C8.84506244,17.6901712 8.62120481,17.9140288 8.62120481,18.1901712 L8.62120481,19.2134699 C8.62120481,19.4896123 8.84506244,19.7134699 9.12120481,19.7134699 L11.1288761,19.7134699 L11.1288761,21.6699434 C11.1288761,21.9460858 11.3527337,22.1699434 11.6288761,22.1699434 C11.7471877,22.1699434 11.8616664,22.1279896 11.951961,22.0515402 L15.4576222,19.0834174 C15.6683723,18.9049825 15.6945689,18.5894857 15.5161341,18.3787356 C15.4982803,18.3576485 15.4787093,18.3380775 15.4576222,18.3202237 L11.951961,15.3521009 C11.7412109,15.173666 11.4257142,15.1998627 11.2472793,15.4106128 C11.1708299,15.5009075 11.1288761,15.6153861 11.1288761,15.7336977 Z" id="Shape" fill="#000000" fill-rule="nonzero" transform="translate(11.959697, 18.661508) rotate(-90.000000) translate(-11.959697, -18.661508) "/>
                                        </g>
                                    </svg>

                                </div>
                                <h3>Déposez ici votre fichier</h3>
                                <small>PDF, PNG, JPG < <span id="maxFileSizeDisp" class="green">15Mo</span></small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-12">
                    <input id="upload_btn_{{ ged.id }}" class="btn btn-label-success m-t-10" type="button" value="Ajouter le fichier" style="display: none; width: 100%;"/>
                </div>
            </div>


        </div>
    </div>
</form>
